.header{
    color: #99ddff;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.header:hover{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #99dd11;
    color: #99dd55;
    color: #99dd77;
    color: #99ddbb;
    color: #99ddff;



}
.menu{
    color: aqua;
    text-align: right ;
    margin-bottom: 30px;
    justify-content: space-around;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer{
    margin-top: 126px;
    /*display: flex;
    /*justify-content: flex-end;*/
    align-items: left;
    margin-left: 900px;
}
.text{
    color: #cdcdcd;
    text-align: center;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
body{
    background-color: #777777;
    justify-self: normal;
    color: #ddccdd;
    
}
h1{
    color: aquamarine;
}
.item img{
    width: 250px;
    height: 250px;

}

.item img:hover{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border-width: 10px;

}


